@using WF.BusinessRule;
@using WF.Framework;
@using WF.Framework.Helper;
@using WF.Model;

@model List<SAPEmail>
    <table cellpadding="0" cellspacing="0" width="100%" class="tbl" style="line-height:30px;font-size:14px;">
        @{
        if (Model != null && Model.Count > 0)
        {
        if (Model[0].Id > 0)
        {
        <thead>
            <tr>
                <th title="全选/取消全选">
                    <input type="checkbox" id="selectall" onclick="selectAll(this);" />
                </th>
                <th>NO.</th>
                <th>StepName</th>
                <th>BU</th>
                <th>Plant</th>
                <th>DisplayName</th>
                <th>Email</th>
            </tr>
        </thead>
        foreach (SAPEmail item in Model)
        {
        <tr onmouseover="this.className='trFocused'" onmouseout="this.className='trCommon'">
            <td class="listtd">
                @if (item.Checked)
                {
                <input type="checkbox" id="checkbox@(item.Id.ToString())" checked="checked" />
                }
                else
                {
                <input type="checkbox" id="checkbox@(item.Id.ToString())" />
                }

            </td>
            <td class="listtd">@(item.StepNumber)</td>
            <td class="listtd">@(item.StepName)</td>
            <td class="listtd">@(item.BU)</td>
            <td class="listtd">@(item.Plant)</td>
            <td class="listtd">@(item.DisplayName)</td>
            <td class="listtd">@(item.Email)</td>
        </tr>
        }

        <tr>
            <td colspan="7" style="height:50px;" align="center">
                <button id="SaveButton" onclick="saveSAPEmail(this);">
                    @(Html.Lang("Save"))
                </button>
            </td>
        </tr>
        }
        }
        }
    </table>
