@{
    ViewBag.Title = "Tools";
}

<div class="main" style="font-size:14px;">
    <ul>
        <li>
            <a href="@(Url.Content("~/Admin/FieldList"))">@(Html.Lang("Field"))</a>
        </li>
    
       <li>
           <a href="@(Url.Content("~/Admin/DictionaryList"))">@(Html.Lang("Dictionary"))</a>
       </li>

       <li>
           <a href="@(Url.Content("~/Admin/MaterialGroup1List"))">@(Html.Lang("MaterialGroup1"))</a>
       </li>
</ul>
</div>