@using WF.Model.BarCode;
@model List<SKUBarCodeDetailsInfo>
@{
    ViewBag.Title = "BarCodeEdit";

    //List<SKUBuInfo> BuInfoList = ViewBag.BuInfoList as List<SKUBuInfo>;


    //List<SKUBarCodeDetailsInfo> DetailInfo = new List<SKUBarCodeDetailsInfo>();
}

<style>
    .center-both {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%; /* 或者具体宽度 */
        /*background-color: burlywood;*/
    }

    .bordered-div {
        border: 1px solid black; /* 设置1像素的实线黑色边框 */
        padding: 15px; /* 内边距 */
        margin: 15px; /* 外边距 */
    }
    /* 样式可以根据需要自定义 */
    select {
        padding: 5px;
        margin: 5px;
        width: 200px;
    }

    .inputwh {
        width: 200px;
        height: 25px;
    }

    .buttonT {
    }

    .TextOne {
        color: red;
    }
</style>
@*详细信息*@
<div class="center-both" style="margin-top:10px;">
    <table cellpadding="0" cellspacing="0" width="100%" class="tbl" id="myTable1">
        <tr>
            <td class="lefttd">
                <text class="TextOne">*</text>@Html.Lang("BU:")
            </td>
            <td class="righttd">
                <select name="level1" id="BUlevel1" onchange="showLevel2(this)" class="inputwh"></select>
            </td>
        </tr>
        <tr>
            <td class="lefttd">
                <text class="TextOne">*</text>@Html.Lang("品牌名称:")
            </td>
            <td class="righttd">
                <input type="text" id="BrandName" name="BrandName" class="inputwh" />
            </td>
        </tr>
        <tr class="content_tr">
            <td class="lefttd" colspan="2"><h3>填写详细数据</h3></td>
        </tr>
        <tr class="content_tr">
            <td class="lefttd">
                <text class="TextOne">*</text>@Html.Lang("目标市场:")
            </td>
            <td class="righttd">
                <select name="level1" id="TargetName" class="inputwh">
                    <option value="0">大陆</option>
                    <option value="1">台湾</option>
                    <option value="2">香港</option>
                </select>
            </td>
        </tr>
        <tr class="content_tr">
            <td class="lefttd">
                <text class="TextOne">*</text>@Html.Lang("产品名称（英文）:")
            </td>
            <td class="righttd">
                <input type="text" id="CodeNameEH" name="CodeNameEH" class="inputwh" />
            </td>
        </tr>
        <tr class="content_tr">
            <td class="lefttd">
                <text class="TextOne">*</text>@Html.Lang("产品名称（中文）:")
            </td>
            <td class="righttd">
                <input type="text" id="CodeNameCH" name="CodeNameCH" class="inputwh" />
            </td>
        </tr>
        <tr class="content_tr">
            <td class="lefttd">
                <text class="TextOne">*</text>@Html.Lang("工厂名称:")
            </td>
            <td class="righttd">
                <select name="Company" id="CompanyId" class="inputwh"></select>
            </td>
        </tr>
        <tr class="content_tr">
            <td class="lefttd">
                <text class="TextOne">*</text>@Html.Lang("产品分类:")
            </td>
            <td class="righttd">
                <select name="product" id="BUlevel2" class="inputwh">
                </select>
            </td>
        </tr>
        <tr class="content_tr">
            <td class="lefttd">
                <text class="TextOne">*</text>@Html.Lang("净含量/规格:")
            </td>
            <td class="righttd">
                <input type="text" id="specsId" name="specsName" class="inputwh" />
            </td>
        </tr>
        <tr class="content_tr">
            <td class="lefttd">
                <text class="TextOne">*</text>@Html.Lang("作为销售单元/运输单元:")
            </td>
            <td class="righttd">
                <select name="UnitName" id="UnitId" class="inputwh">
                    <option value="0">运输单元</option>
                    <option value="1">销售单元</option>
                </select>
            </td>
        </tr>
        <tr class="content_tr">
            <td class="lefttd">
                <text class="TextOne">*</text>@Html.Lang("包装形式袋:")
            </td>
            <td class="righttd">
                <input type="text" id="packingId" name="packingName" class="inputwh" />
            </td>
        </tr>
        <tr class="content_tr">
            <td class="lefttd">
                <text class="TextOne">*</text>@Html.Lang("放大系数:")
            </td>
            <td class="righttd">
                <input type="text" id="ratioId" name="ratioName" class="inputwh" />
            </td>
        </tr>
        <tr class="content_tr">
            <td class="lefttd">
                <text class="TextOne">*</text>@Html.Lang("申请原因:")
            </td>
            <td class="righttd">
                <input type="text" id="remarksId" name="remarksName" class="inputwh" />
            </td>
        </tr>
    </table>
</div>
<div class="center-both" style="margin-top:10px;">
    @{
    if (Model != null && Model.Count > 0)
    {
    <table id="myTable" cellpadding="0" cellspacing="0" width="100%" class="tbl" style="line-height:30px;font-size:14px;">
        <thead>
            <tr>
                @*hidden="hidden"*@
                <th style="display:none">序号</th>
                <th style="display:none">BU</th>
                <th style="display:none">品牌</th>
                <th>种类（英文）</th>
                <th>种类（中文）</th>
                <th>市场</th>
                <th style="display:none">工厂</th>
                <th style="display:none">分类</th>
                <th>净含量</th>
                <th>运输</th>
                <th>包装</th>
                <th>系数</th>
                <th>申请原因</th>
                <th>操作</th>
            </tr>
        </thead>
        @{
        foreach (var item in Model)
        {
        <tr>
            <td class="listtd" style="display:none">@(item.Id)</td>
            <td class="listtd" style="display:none">@(item.BuCode)</td>
            <td class="listtd" style="display:none">@(item.BarName)</td>
            <td class="listtd">@(item.CodeNameEH)</td>
            <td class="listtd">@(item.CodeNameCH)</td>
            <td class="listtd">@(item.TargetId)</td>
            <td class="listtd" style="display:none">@(item.CompanyId)</td>
            <td class="listtd" style="display:none">@(item.BuCodeId)</td>
            <td class="listtd">@(item.SpecsName)</td>
            <td class="listtd">@(item.UnitId)</td>
            <td class="listtd">@(item.PackingName)</td>
            <td class="listtd">@(item.RatioName)</td>
            <td class="listtd">@(item.RremarksName)</td>
            <td colspan="7" style="height:50px;" align="center">
                @if (item.State == 0)
                {
                <button class="buttonT" onclick="Delete(this,@(item.Id),@(item.RequestId));">删除</button>
                @*<button class="buttonT" onclick="">编辑</button>*@
                }
            </td>
        </tr>
        }
        }
    </table>
    }
    else
    {
    <button onclick="addRow(myTable1)" style="float:right">添加一行</button>
    <table id="myTable" cellpadding="0" cellspacing="0" width="100%" class="tbl" style="line-height:30px;font-size:14px;">
        <tr>
            @*hidden="hidden"*@
            @*
            <th style="display:none">序号</th>*@
            <th style="display:none">BU</th>
            <th style="display:none">品牌</th>
            <th>种类（英文）</th>
            <th>种类（中文）</th>
            <th>市场</th>
            <th style="display:none">工厂</th>
            <th style="display:none">分类</th>
            <th>净含量</th>
            <th>运输</th>
            <th>包装</th>
            <th>系数</th>
            <th>申请原因</th>
            <th>操作</th>
        </tr>
    </table>
    }
    }

</div>
@*业务按钮*@
<div class="center-both" style="margin-top:10px;">
    @{
        if (Model != null && Model.Count > 0)
        {
            switch (Model[0].State)
            {

                case 0: //草稿
                    <button type="button" class="button" onmousedown="this.className='buttonPressed'"
                            onmouseout="this.className='button'" onclick="Submit(0);" style="margin-left:10px;float:left;">
                        @(Html.Lang("保存"))
                    </button>
                    <button type="button" class="button" onmousedown="this.className='buttonPressed'"
                            onmouseout="this.className='button'" onclick="Submit(1);" style="margin-left:10px;float:left;">
                        @(Html.Lang("提交"))
                    </button>
                    break;
                case 1: //提交
                    <button type="button" class="button" onmousedown="this.className='buttonPressed'"
                            onmouseout="this.className='button'" onclick="RevokeState(@Html.Raw(Model[0].RequestId));" style="margin-left:10px;float:left;">
                        @(Html.Lang("撤回"))
                    </button>
                    break;
                case 2: //通过

                    break;
                case 3:
                    break;
                case 4:
                    break;
                case 5: //撤回
                    <button type="button" class="button" onmousedown="this.className='buttonPressed'"
                            onmouseout="this.className='button'" onclick="Test();" style="margin-left:10px;float:left;">
                        @(Html.Lang("条码算法"))
                    </button>
                    break;
                case 6:
                    break;
                case 7:
                    break;
            }
        }
        else
        {
            <button type="button" class="button" onmousedown="this.className='buttonPressed'"
                    onmouseout="this.className='button'" onclick="Submit(0);" style="margin-left:10px;float:left;">
                @(Html.Lang("保存"))
            </button>
            <button type="button" class="button" onmousedown="this.className='buttonPressed'"
                    onmouseout="this.className='button'" onclick="Submit(1);" style="margin-left:10px;float:left;">
                @(Html.Lang("提交"))
            </button>
        }
    }
</div>


<script type="text/javascript">
    //获取产品分类数据
    function selectedIndexChanged(obj)
    {
        if (obj == null) return;
        obj.options.length = 0;
        $.ajax({
            type: "POST",
            url: "@(Url.Content("~/BarCode/GetListInfo"))",
            data: "{parenId: 0 }",
            async: false,
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                obj.add(new Option("请选择", -1));
                for (var i = 0; i < data.length; i++) {
                    obj.append(new Option(data[i].BuName, data[i].BuCode));
                }
            },
            err: function (err) {
            }
        })
    }

    //获取公司数据MyTableInfo
    function SelectCompanyInfo(obj)
    {
        if (obj == null) return;
        obj.options.length = 0;
        $.ajax({
            type: "POST",
            url: "@(Url.Content("~/BarCode/GetCompanyInfo"))",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                obj.add(new Option("请选择", -1));
                for (var i = 0; i < data.length; i++) {
                    obj.append(new Option(data[i].CompanyName, data[i].Id));
                }
            },
            err: function (err) {
        }
        })
    }


    function DeleteInfo() {
            console.log("获取:")
    }


    //初始化方法
    $(document).ready(function () {
        selectedIndexChanged(document.getElementById("BUlevel1"));
        SelectCompanyInfo(document.getElementById("CompanyId"));
        EndBuCodeInfo();
    });
    var index = 0;


    //添加行处理方法
    function addRow(value) {
        var table = document.getElementById("myTable1");
        var rows = table.getElementsByTagName("tr");
        var data = [];
        if (rows.length > 0 ) {
            //data.push(index++);
        }
        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName("td");
            for (var j = 0; j < cells.length; j++) {
                var textClass = cells[j].querySelector('[class="inputwh"]')
                if (textClass == null) {
                    continue;
                } else {
                    switch (textClass.tagName) {
                        case 'SELECT':
                            document.getElementById("myTable1");
                            var selectValue = cells[j].querySelector('select');
                            data.push(selectValue.value);
                            break;
                        case 'INPUT':
                            var inputElement = cells[j].querySelector('input')
                            data.push(inputElement.value);
                            break;


                    }
                }
            }
        }


        var strhtml = "";
        strhtml = '<tr>'
            //+ '<td style="display:none">' + data[0] + '</td>'
            + '<td style="display:none">' + data[0] + '</td>'
            + '<td style="display:none">' + data[1] + '</td>'
            + '<td>' + data[2] + '</td>'
            + '<td>' + data[3] + '</td>'
            + '<td>' + data[4] + '</td>'
            + '<td style="display:none">' + data[5] + '</td>'
            + '<td style="display:none">' + data[6] + '</td>'
            + '<td>' + data[7] + '</td>'
            + '<td>' + data[8] + '</td>'
            + '<td>' + data[9] + '</td>'
            + '<td>' + data[10] + '</td>'
            + '<td>' + data[11] + '</td>'
            + '<td><button class="buttonT" onclick="Delete(this,-1,-1);">删除</button></td></tr> ';
        $("#myTable").append(strhtml);
    }

    // 显示第二级菜单
    function showLevel2(obj) {
        if (obj.id == "BUlevel1") {
            var OACity = document.getElementById("BUlevel2");
            var Province = obj.options[obj.selectedIndex].value;
            OACity.options.length = 0;
            if (obj == null) return;
                $.ajax({
                    type: "POST",
                    url: "@(Url.Content("~/BarCode/GetListInfo"))",
                    data: "{parenId:" + Province +"}",
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        OACity.add(new Option("请选择", -1));
                        for (var i = 0; i < data.length; i++) {
                            OACity.append(new Option(data[i].BuName, data[i].BuCode));
                        }
                    },
                    err: function (err) {
                    }
            })
        }
    }

    //提交
    function Submit(index) {
        //var model = new SKUBarCodeDetailsInfo();
        var data = getTableData();
        var listModel = [];
        if (data != null) {
            data.splice(0, 1);
            for (var i = 0; i < data.length; i++) {
                var model = new Object();
                model.BuCode = data[i][0];
                model.BarName = data[i][1];
                model.CodeNameEH = data[i][2];
                model.CodeNameCH = data[i][3];
                model.TargetId = data[i][4];
                model.CompanyId = data[i][5];
                model.BuCodeId = data[i][6];
                model.SpecsName = data[i][7];
                model.UnitId = data[i][8];
                model.PackingName = data[i][9];
                model.RatioName = data[i][10];
                model.RremarksName = data[i][11];
                listModel.push(model);
            }
        }
        var json = $.toJSON(listModel);
        $.post(getRootUrl() + "BarCode/SKUBucodeCreateInfo", { json: json, state: index },
            function (data) {
                if (data > 0) {
                popOK();
                setTimeout(function () {
                    location.href = getRootUrl() + "BarCode/BarCodeInfo";
                }, 1000);
            }
        });
    }

    //获取Table数据
    function getTableData() {
        var table = document.getElementById('myTable');
        var rows = table.getElementsByTagName('tr');
        var tableData = [];
        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var rowData = [];
            for (var j = 0; j < cells.length; j++) {
                rowData.push(cells[j].textContent.trim());
            }
            tableData.push(rowData);
        }
        return tableData;
    }

    //删除相关数据
    function Delete(val,index,codeid) {
        if (index > 0) {
            $.post(getRootUrl() + "BarCode/DeleteDetailsInfo", { index: index, requestId: codeid },
                function (data) {
                    if (data > 0) {
                        setTimeout(function () {
                            location.href = getRootUrl() + "BarCode/BarCodeEdit?codeId=" + codeid +"";
                        }, 1000);
                    }
                });
        }
        else {
            var row = val.parentNode.parentNode;
            var table = document.getElementById("myTable");
            table.deleteRow(row.rowIndex);
        }
    }

    //备案相关
    function KeepInfo(val) {
        console.log("备案id", val)
    }

    //处理详情信息
    function EndBuCodeInfo() {
        var info = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model));
        if (info != null && info.length > 0) {

            const selectElement = document.getElementById('BUlevel1');
            $("#BUlevel1 option[value='" + info[0].BuCode + "']").prop('selected', true);
            //获取品牌名称
            document.getElementById("BrandName").value = info[0].BarName;
            //获取所有tr
            var tr_style = document.querySelectorAll(".content_tr") ;
            // 遍历每个元素并隐藏它
            tr_style.forEach(element => {
                $(element).hide();
            });
        }
    }

    //撤销信息
    function RevokeState(val) {
        $.post(getRootUrl() + "BarCode/UpdateStateInfo", { buCodeId: val },
            function (data) {
                if (data > 0) {
                    popOK();
                    setTimeout(function () {
                        location.href = getRootUrl() + "BarCode/BarCodeInfo";
                    }, 1000);
                }
            });
    }

    function Test() {
        $.post(getRootUrl() + "BarCode/SetBarCodeNumber", { codeType: 0 },
            function (data) {

            });
    }
</script>

