@using WF.Model;
@using MVC4Pager;
@model PagedList<BarCodeInfo>
    @{
    ViewBag.Title = "BarCodeList";
    }

<table cellpadding="0" cellspacing="0" width="100%" class="tbl" style="line-height:30px;font-size:14px;">
    @{
        if (Model != null && Model.Count > 0)
        {
            if (Model[0].Id > 0)
            {
                <thead>
                        <tr>
                            <th title="全选/取消全选">
                                <input type="checkbox" id="selectall" onclick="selectAll(this);" />
                            </th>
                            <th>NO.</th>
                            <th>BarCodeName</th>
                            <th>BarCodeType</th>
                            <th>审批状态</th>
                            <th>备案状态</th>
                            <th>提交时间</th>
                            <th>Operation</th>
                        </tr>
                </thead>
                foreach (var item in Model)
                {
                    <tr onmouseover="this.className='trFocused'" onmouseout="this.className='trCommon'">
                        <td class="listtd">@(item.Id)</td>
                        <td class="listtd">@(item.BaeName)</td>
                        <td class="listtd">@(item.BaeType)</td>
                        <td class="listtd"></td>
                        <td class="listtd"></td>
                        <td class="listtd"></td>
                        <td class="listtd"></td>
                        <td colspan="7" style="height:50px;" align="center">
                            <button id="SaveButton" onclick="saveSAPEmail(this);">
                                @(Html.Lang("提交"))
                            </button>
                            <button id="SaveButton" onclick="saveSAPEmail(this);">
                                @(Html.Lang("修改"))
                            </button>
                            <button id="SaveButton" onclick="DeleteInfo(@(item.Id));">
                                @(Html.Lang("删除"))
                            </button>
                            <button id="SaveButton" onclick="saveSAPEmail(this);">
                                @(Html.Lang("撤回"))
                            </button>
                            <button id="SaveButton" onclick="keepSave(@(item.Id));">
                                @(Html.Lang("备案"))
                            </button>
                        </td>
                    </tr>
                }

            }
        }
    }
</table>

<script type="text/javascript">
    /* 删除 */
    function DeleteInfo(id) {
        const r = confirm("确定删除此信息？");
        if (r) {
            alert("删除成功");
            return true;
        }
        return false;
    }
    /** 备案*/
    function keepSave(codeId) {
        location.href = getRootUrl() + "BarCode/KeepInfo?codeId=" + codeId.toString();
    }
    
</script>
