@using WF.Model;
@using MVC4Pager;
@model PagedList<BarCodeInfo>


<table id="myTable" cellpadding="0" cellspacing="0" width="100%" class="tbl" style="line-height:30px;font-size:14px;">
    @{
        if (Model != null && Model.Count > 0)
        {
            if (Model[0].Id > 0)
            {
                <thead>
                    <tr>
                        @*<th title="全选/取消全选">
                                <input type="checkbox" id="selectall" onclick="selectAll(this);" />
                            </th>*@
                        <th style="display:none">codeId</th>
                        <th>ID</th>
                        <th>提交人</th>
                        <th>名称</th>
                        <th>申请时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                foreach (var item in Model)
                {
<tr onmouseover="this.className='trFocused'" onmouseout="this.className='trCommon'">
    <td class="listtd" style="display:none">@(item.CodeId)</td>
    <td class="listtd">@(item.Id)</td>
    <td class="listtd">@(item.DisplayName)</td>
    <td class="listtd">@(item.BarName)</td>
    <td class="listtd">@(item.CreteTime)</td>
    @switch (item.State)
    {
        case 0:
            <td class="listtd">草稿</td>
            break;
        case 1:
            <td class="listtd">审批中</td>
            break;
        case 2:
            <td class="listtd">已通过</td>
            break;
        case 3:
            <td class="listtd">拒绝</td>
            break;
        case 5:
            <td class="listtd">撤回</td>
            break;
        default:
            break;
    }

    <td colspan="7" style="height:50px;" align="center">
        <button id="SaveButton" onclick="Details(@(item.CodeId));">
            <a href="/BarCode/BarCodeEdit?codeId=@(item.CodeId)">  @(Html.Lang("详情"))</a>
        </button>
    </td>
</tr>
                }
            }
        }
    }
</table>
<div id="pager" style="margin:5px auto; text-align:center">
    @Html.AjaxPager(
          Model,
          new PagerOptions()
          {
              PageIndexParameterName = "pageIndex",
              ShowDisabledPagerItems = false,
              AlwaysShowFirstLastPageNumber = true,
              CurrentPagerItemWrapperFormatString = "<span class=\"currentPage\">{0}</span>",
              NumericPagerItemWrapperFormatString = "<span class=\"item\">{0}</span>",
              CssClass = "pages",
              PrevPageText = (ViewBag.IsChinese == true) ? "上一页" : "Prev",
              NextPageText = (ViewBag.IsChinese == true) ? "下一页" : "Next",
              FirstPageText = (ViewBag.IsChinese == true) ? "首页" : "First",
              LastPageText = (ViewBag.IsChinese == true) ? "尾页" : "Last"
          },
          new AjaxOptions
          {
              UpdateTargetId = "searchResult"
          })
</div>

@if (Model == null || Model.Count == 0)
{
    <script type="text/javascript">
        $(document).ready(function () {
            show("You do not have any requests to review for the moment!");
        });
    </script>
}

<script type="text/javascript">
    /* 删除 */
    function DeleteInfo(id) {
        const r = confirm("确定删除此信息？");
        if (r) {
            alert("删除成功");
            return true;
        }
        return false;
    }

    //查看详细信息
    function Details(val) {
        console.log('详情id', val)
        $.ajax({
            type: "POST",
            url: "@(Url.Content("~/BarCode/BarCodeEdit"))",
            data: "{codeId:" + val +"}",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                
            },
            err: function (err) {
        }
        })
    }

    /** 备案*/
    function keepSave(codeId) {
        location.href = getRootUrl() + "BarCode/KeepInfo?codeId=" + codeId.toString();
    }

</script>
